#div1 {
    position: absolute;
    left: 50px;
    width: 80%;
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
    text-align: center;
}

#div1 .inner {
    width: calc(100% - 50%);
    border: 1px solid black;
    background-color: lightgreen;
}